@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.app-wrapper {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr 50px;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  grid-template-areas:
    "h h"
    "n c"
    "f f";
}
