.friend {
    height: auto;
    width: 50px;
    display: grid;
    grid-template-rows: 5fr 3fr;
    padding: 10px;
}

.image {
    width: 40px;
    border-radius: 20px;
}

.name {
    text-align: center;
    justify-content: center;
}
